/* src/components/VideoSection.css */
.video-section {
  padding: 0px 0px;
  background-color: #e0f7fa;
  text-align: center;
}

.video-section h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #004d40;
}

.video-container iframe {
  border-radius: 8px;
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.video-container iframe {
  width: 100%;
  max-width: 600px;
  height: 330px;
}

/* Desktop */
@media (min-width: 768px) {
  .hero h1 {
    font-size: 2.5rem;
  }

  .hero p {
    font-size: 1.2rem;
  }
}
